html {
  color: #fff;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
section {
  flex: 1;
}

.card,
.dropdown-content,
.dropdown-item,
.footer {
  background-color: #363636;
  color: #fff;
}
.card .card-footer,
.card .card-footer-item,
.input {
  border-color: #222;
}
.card-header-title,
.table thead th,
.dropdown-item {
  color: #fff;
}
a {
  color: #1abc9c;
}
a:hover {
  color: #1dd2af;
}
.card-footer a:hover {
  background-color: #292929;
}
code {
  background-color: rgba(110, 118, 129, 0.4);
  color: rgb(255, 123, 114);
}
.input,
.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #444;
  color: #adb5bd;
}
.input:hover,
.input:active,
.input:focus,
.control.has-icons-left .input:focus ~ .icon {
  color: #fff;
}
video {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ghost {
  border: 1px dashed #000;
  background-color: #444;
}

.ghost * {
  visibility: hidden;
}

.custom-drag-ghost {
  /* The original cloned element must not take place up in the page and must not be visible */
  position: absolute;
  top: -99999px;
  left: -99999px;
  /* Just for appearance */
  background-color: #edb458;
  border: 1px solid #e8871e;
}

.hidden-drag-ghost {
  opacity: 0;
}

.transition {
  transition: all 2s ease-out 0.5s;
  top: 0;
}

.table.dropdown-item td {
  max-width: 250px;
  word-wrap: break-word;
}

span .fa-arrows-rotate {
  cursor: pointer;
}

.card-image:has([src$=".svg"]) {
  background-color: #000;
}

.cam-overlay {
  display: none;
}

.card:hover .cam-overlay {
  display: block;
}

.drag_handle {
  cursor: move;
  flex-grow: 2;
}
