.camera summary {
  font-weight: bold;
  cursor: pointer;
}

.camera summary a {
  padding: 0px 5px 0px 5px;
}

.camera summary > div {
  display: inline-flex;
  width: calc(100% - 20px);
  vertical-align: middle;
}

.camera details[open] {
  /*padding: .5em;*/
}

.camera > details[open] > summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.status {
  text-align: right;
  padding: 0.75rem 1rem;
}

video {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ghost {
  border: 1px dashed #000;
  background-color: #fff;
}

.ghost * {
  display: none;
}

.custom-drag-ghost {
  /* The original cloned element must not take place up in the page and must not be visible */
  position: absolute;
  top: -99999px;
  left: -99999px;
  /* Just for appearance */
  background-color: #edb458;
  border: 1px solid #e8871e;
}

.hidden-drag-ghost {
  opacity: 0;
}

.transition {
  transition: all 2s ease-out 0.5s;
  top: 0;
}

.dropdown-item td {
  max-width: 250px;
  word-wrap: break-word;
}

span .fa-arrows-rotate {
  cursor: pointer;
}

.card-image:has(.loading-preview) {
  background-color: #000;
}
.cam-overlay {
  display: none;
  transition: 0.3s;
}
.card:hover .cam-overlay {
  display: block;
}
