<!DOCTYPE html>
<html lang="en" class="has-background-black-ter">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wyze-Bridge</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css"
        href="{{ 'static/site.css' if hass else url_for('static',filename='site.css') }}" />
    {% if show_video %}
    <link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
    {% endif %}
    <script src="{{ 'static/site.js' if hass else url_for('static', filename='site.js') }}"></script>
</head>

<body>
    <section class="section">
        <nav class="navbar block is-dark fs-display-none">
            <div class="navbar-brand">
                {% if cameras.enabled != cameras.total %}
                <a data-filter="enabled" class="navbar-item is-tab is-active filter">
                    <span class="icon-text">
                        <span class="icon"><i class="fas fa-plug-circle-check"></i></span><span><strong> {{
                                cameras.enabled
                                }}</strong> enabled</span></span></a>
                <a data-filter="all" class="navbar-item is-tab filter">
                    <span class="icon-text"><span class="icon"><i class="fas fa-users-viewfinder"></i></span><span>
                            All cameras</span></span></a>
                {%else%}
                <p class="navbar-item"><span class="icon-text"><span class="icon"><i
                                class="fas fa-users-viewfinder"></i></span><span>Detected {{ cameras.total
                            }} cameras</span></p>
                {% endif %}
                <a class="navbar-burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="refresh-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <div class="control has-icons-left is-hidden-mobile">
                                <input class="input" id="select_number_of_columns" type="number" min="1" max="6"
                                    value="{{number_of_columns}}" title="Number of columns" />
                                <div class="icon is-small is-left">
                                    <i class="fas fa-table-columns"></i>
                                </div>
                            </div>
                            <div class="control has-icons-left is-expanded">
                                <input class="input" id="select_refresh_period" type="number" min="0" max="1200"
                                    value="{{refresh_period}}" title="Refresh (seconds)" />
                                <div class="icon is-small is-left">
                                    <i class="fa-solid fa-rotate"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-item dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button is-fullwidth is-danger is-outlined" aria-haspopup="true"
                                aria-controls="dropdown-menu">
                                <span class="icon is-small">
                                    <i class="fas fa-power-off"></i>
                                </span>
                                <span>Restart</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="restart-menu" role="menu">
                            <div class="dropdown-content">
                                <a data-restart="cameras" class="dropdown-item">
                                    <span class="icon is-small">
                                        <i class="fas fa-video"></i>
                                    </span>
                                    <span>connection to cameras</span>
                                </a>
                                <a data-restart="rtsp_server" class="dropdown-item">
                                    <span class="icon is-small">
                                        <i class="fas fa-solid fa-network-wired"></i>
                                    </span>
                                    <span>rtsp-simple-server</span>
                                </a>
                                <a data-restart="all" class="dropdown-item">
                                    <span class="icon is-small">
                                        <i class="fas fa-solid fa-cloud-arrow-down"></i>
                                    </span>
                                    <span>clear cache and reconnect</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <article id="connection-lost" class="message is-danger" style="display:none;">
            <div class="message-body">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-house-signal"></i>
                    </span>
                    <span>Lost connection to the bridge...</span>
                </span>
            </div>
        </article>
        <div id="alert" class="container is-hidden">
        </div>
        <div class="cameras columns is-multiline">
            {% if cameras.cameras %}
            {% for cam_uri,camera in cameras.cameras.items() %}
            <div id="{{ cam_uri }}" class="camera column {{'is-hidden' if not camera.enabled}}"
                data-enabled="{{camera.enabled}}" data-connected="{{camera.connected}}">
                <div class="card">
                    <header class="card-header fs-display-none">
                        <div class="card-header-title">
                            <span class="icon status {{'enabled' if camera.enabled}}" data-cam="{{cam_uri}}">
                                <i class="fas fa-circle-stop" aria-hidden="true"></i>
                            </span>
                            {{camera.nickname}}
                            {% if camera.camera_info %}
                            {% if camera.camera_info.sdParm.status == "1"%}
                            <span class="icon"
                                title="{{ (camera.camera_info.sdParm.free|int/1024)|round(2) }}GB of {{ (camera.camera_info.sdParm.capacity|int/1024)|round(2) }}GB available">
                                <i class="fas fa-sd-card" aria-hidden="true"></i>
                            </span>
                            {% endif %}
                            {% if camera.camera_info.channelResquestResult.audio == "1"%}
                            <span class="icon" title="Audio Enabled">
                                <i class="fas fa-volume-high" aria-hidden="true"></i>
                            </span>
                            {% endif %}
                            {% endif %}
                        </div>
                        <span class="drag_handle" draggable="true"></span>
                        <button class="card-header-icon toggle-details" data-cam="{{cam_uri}}" title="Camera details">
                            <span class="icon">
                                <i class="fas fa-sliders" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div class="card-image has-text-centered">
                        <figure class="image">
                            {% if show_video and (camera.connected or (camera.on_demand and camera.enabled)) %}
                            <video-js id="video-{{cam_uri}}"
                                class="video-js vjs-live vjs-big-play-centered loading-preview" controls muted
                                playsinline preload={{"true" if autoplay else "false" }}
                                poster="{{camera.img_url or url_for('static',filename='loading.svg')}}"
                                data-cam="{{cam_uri}}"
                                data-setup='{"liveui": true, "fluid": true, "muted": true, "autoplay": {{'"muted"' if autoplay
                                else "false" }}}' data-src="{{camera.hls_url}}stream.m3u8" width="100%">
                                <source src="{{camera.hls_url}}stream.m3u8" type="application/x-mpegURL" />
                                <img class="refresh_img loading-preview {{'connected' if camera.connected}}"
                                    src="{{camera.img_url or url_for('static',filename='loading.svg')}}"
                                    data-cam="{{cam_uri}}" width="100%" />
                            </video-js>
                            {% elif camera.img_url or camera.connected or (camera.on_demand and camera.enabled) %}
                            <img class="refresh_img loading-preview {{'connected' if camera.connected}}"
                                src="{{ camera.img_url or url_for('static',filename='loading.svg') }}"
                                data-cam="{{cam_uri}}" width="100%" />
                            {% else %}
                            <section class="section has-background-black has-text-white no-preview"
                                data-on-demand="{{camera.on_demand}}">
                                <span class="icon is-medium">
                                    <i class="fas fa-video-slash"></i>
                                </span>
                                <p>Preview not available</p>
                            </section>
                            {% endif %} {% if not show_video %}
                            <div class="card-content is-overlay has-text-right cam-overlay">
                                <button class="button is-primary update-preview" data-cam="{{cam_uri}}"
                                    title="Update preview">
                                    <span class="icon is-small">
                                        <i class="fas fa-arrows-rotate"></i>
                                    </span>
                                </button>
                                <span class="age"></span>
                            </div>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="content table-container is-hidden">
                        <table class="table is-hoverable is-fullwidth">
                            <tbody>
                                {% for key, value in camera.items() %}
                                {% if key == "camera_info" and value %}
                                {% for cam_info, cam_val in value.items() %}
                                <tr>
                                    <td>{{ cam_info }}</td>
                                    <td><code>{{ cam_val }}</code></td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>
                                        {% if value and key is string and key.endswith('_url') %}
                                        <a href="{{ value }}" title="{{ value }}">{{ value|truncate(40, True,
                                            '...') }}</a>
                                        {% else %}
                                        <code>{{ value }}</code>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <footer class="card-footer fs-display-none">
                        <a href="{{camera.hls_url}}" class="card-footer-item">{% if camera.stream_auth %}<span
                                class="icon">
                                <i class="fas fa-lock"></i>
                            </span> {% endif %}HLS</a>
                        <a href="{{camera.rtmp_url}}" class="card-footer-item">{% if camera.stream_auth %}<span
                                class="icon">
                                <i class="fas fa-lock"></i>
                            </span> {% endif %}RTMP</a>
                        <a href="{{camera.rtsp_url}}" class="card-footer-item">{% if camera.stream_auth %}<span
                                class="icon">
                                <i class="fas fa-lock"></i>
                            </span> {% endif %}RTSP</a>
                        {% if camera.fw_rtsp %}
                        <a href="{{camera.rtsp_url}}fw" class="card-footer-item" target="_blank">FW_RTSP</a>
                        {% endif %}
                        {% if camera.boa_url %}
                        <a href="{{camera.boa_url}}" class="card-footer-item" target="_blank">SD Card</a>
                        {% endif %}
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tabs is-toggle is-toggle is-centered fs-display-none">
            <ul>
                <li {% if not show_video %}class="is-active" {% endif %}>
                    <a href="?snapshot">
                        <span class="icon is-small"><i class="fas fa-image"></i></span>
                        <span>Snapshot</span>
                    </a>
                </li>
                <li {% if show_video %}class="is-active" {% endif %}>
                    <a href="?video">
                        <span class="icon is-small"><i class="fas fa-film"></i></span>
                        <span>Video</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="has-text-centered has-text-grey-light fs-display-none">
            <label class="checkbox">
                <input type="checkbox" id="enable-autoplay" {{"checked" if autoplay}}>
                Autoplay
            </label>
        </div>
        <div class="fullscreen">
            <button class="button is-small">
                <span class="icon is-small">
                    <i class="fas fa-maximize"></i>
                </span>
            </button>
        </div>
        {% endif %}
    </section>
    <footer class="footer fs-display-none">
        <div class="content has-text-centered">
            <p>
                <a href="https://github.com/mrlt8/docker-wyze-bridge"><i class="fa-brands fa-github"></i>
                    <strong>docker-wyze-bridge</strong></a>
                v{{ version }}
                <span id="checkUpdate" class="icon-text" data-version="{{version}}"><span class="icon"><i
                            class="fas fa-arrows-rotate"></i></span>
                </span>
            </p>
        </div>
    </footer>
    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
</body>

</html>