<!DOCTYPE html>
<html lang="en" class="has-background-white-bis">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wyze-Bridge</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css"
        href="{{ 'static/site.css' if hass else url_for('static',filename='site.css') }}" />
    {% if show_video %}
    <link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
    {% endif %}
    <script src="{{ 'static/site.js' if hass else url_for('static', filename='site.js') }}"></script>
</head>

<body class="has-background-light">
    <section class="section">
        <nav class="navbar block">
            <div class="navbar-brand">
                {% if enabled != cameras|length %}
                <a data-filter="enabled" class="navbar-item is-tab is-active filter">
                    <span class="icon-text">
                        <span class="icon"><i class="fas fa-plug-circle-check"></i></span><span><strong> {{ enabled
                                }}</strong> enabled</span></span></a>
                <a data-filter="all" class="navbar-item is-tab filter">
                    <span class="icon-text"><span class="icon"><i class="fas fa-users-viewfinder"></i></span><span>
                            All cameras</span></span></a>
                {%else%}
                <p class="navbar-item"><span class="icon-text"><span class="icon"><i
                                class="fas fa-users-viewfinder"></i></span><span>Detected <strong>{{ cameras|length
                                }}</strong> cameras</span></p>
                {% endif %}
                <a class="navbar-burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="refresh-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <div class="control has-icons-left is-hidden-mobile">
                                <input class="input" id="select_number_of_columns" type="number" min="1" max="6"
                                    value="{{number_of_columns}}" title="Number of columns" />
                                <div class="icon is-small is-left">
                                    <i class="fas fa-table-columns"></i>
                                </div>
                            </div>
                            <div class="control has-icons-left is-expanded">
                                <input class="input" id="select_refresh_period" type="number" min="5" max="600"
                                    value="{{refresh_period}}" title="Refresh (seconds)" />
                                <div class="icon is-small is-left">
                                    <i class="fa-solid fa-rotate"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-item dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button is-fullwidth is-danger is-outlined" aria-haspopup="true"
                                aria-controls="dropdown-menu">
                                <span class="icon is-small">
                                    <i class="fas fa-power-off"></i>
                                </span>
                                <span>Restart</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="restart-menu" role="menu">
                            <div class="dropdown-content">
                                <a data-restart="cameras" class="dropdown-item">
                                    <span class="icon is-small">
                                        <i class="fas fa-video"></i>
                                    </span>
                                    <span>connection to cameras</span>
                                </a>
                                <a data-restart="rtsp_server" class="dropdown-item">
                                    <span class="icon is-small">
                                        <i class="fas fa-solid fa-network-wired"></i>
                                    </span>
                                    <span>rtsp-simple-server</span>
                                </a>
                                <a data-restart="all" class="dropdown-item">
                                    <span class="icon is-small">
                                        <i class="fas fa-solid fa-server"></i>
                                    </span>
                                    <span>cameras and rtsp server</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="cameras columns is-multiline">
            {% for camera in cameras.values() %}
            <div id="{{ camera.name_uri }}" class="camera column {{'is-hidden' if not camera.enabled}}"
                enabled="{{camera.enabled}}" connected="{{camera.connected}}">
                <div class="card">
                    <header class="card-header">
                        <div class="card-header-title">
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <span class="icon">
                                        <i class="fas has-text-{{'grey-lighter fa-circle-info' if not camera.enabled else ('success fa-circle-info' if camera.connected else 'danger fa-triangle-exclamation')}}"
                                            aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content table-container">
                                        <table class="table dropdown-item is-hoverable is-narrow">
                                            <thead>
                                                <tr>
                                                    <th>Key</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key, value in camera.items() %}
                                                <tr>
                                                    <td>{{ key }}</td>
                                                    <td>
                                                        {% if key is string and key.endswith('_url') %}
                                                        <a href="{{ value }}">{{ value }}</a>
                                                        {% else %}
                                                        <code>{{ value }}</code>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {{camera.nickname}}
                        </div>
                        <span class="drag_handle" draggable="true"></span>
                        <button class="card-header-icon hide-image" data-cam="{{camera.name_uri}}">
                            <span class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div class="card-image has-text-centered">
                        {% if show_video and camera.connected %}
                        <video-js id="video-{{camera.name_uri}}"
                            class="video-js vjs-live vjs-big-play-centered loading-preview" controls preload="none"
                            poster="{{camera.img_url if camera.img_url else url_for('static',filename='loading.svg')}}"
                            data-cam="{{camera.name_uri}}" data-setup='{"liveui": true, "fluid": true}'
                            data-src="{{camera.hls_url}}stream.m3u8" width="100%">
                            <source src="{{camera.hls_url}}stream.m3u8" type="application/x-mpegURL" />
                            <img class="refresh_img loading-preview" data-cam="{{camera.name_uri}}"
                                src="{{camera.img_url if camera.img_url else url_for('static',filename='loading.svg')}}"
                                width="100%" />
                        </video-js>
                        {% elif camera.connected %}
                        <img class="refresh_img loading-preview" data-cam="{{camera.name_uri}}"
                            src="{{camera.img_url if camera.img_url else url_for('static',filename='loading.svg')}}"
                            width="100%" />
                        {% else %}
                        <section class="section has-background-black has-text-white no-preview">
                            <span class="icon is-medium">
                                <i class="fas fa-video-slash"></i>
                            </span>
                            <p>Preview not available</p>
                        </section>
                        {% endif %} {% if camera.connected and not show_video %}
                        <div class="card-content is-overlay has-text-right cam-overlay">
                            <button class="button is-primary update-preview" data-cam="{{camera.name_uri}}"
                                title="Update preview">
                                <span class="icon is-small">
                                    <i class="fas fa-arrows-rotate"></i>
                                </span>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <footer class="card-footer">
                        <a href="{{camera.hls_url}}" class="card-footer-item">HLS</a>
                        <a href="{{camera.rtmp_url}}" class="card-footer-item">RTMP</a>
                        <a href="{{camera.rtsp_url}}" class="card-footer-item">RTSP</a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="https://github.com/mrlt8/docker-wyze-bridge"><i class="fa-brands fa-github"></i>
                    <strong>docker-wyze-bridge</strong></a>
                v{{ version }}
                <span id="checkUpdate" class="icon-text" version="{{version}}"><span class="icon"><i
                            class="fas fa-arrows-rotate"></i></span>
                </span>
            </p>
        </div>
    </footer>
    <script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
</body>

</html>